@use "../abstracts/variables" as *;

.feature-box {
    text-align: center;
    background-color: rgba($color-white, .8);
    padding: 5rem 3rem;
    transition: transform .3s;
    box-shadow: 0 2rem 4rem rgba($color-black, .5);
    
    &__icon {
        font-size: 5rem;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        background-clip: text;
        color: transparent;
    }

    &:hover {
        transform: scale(1.05);
    }
}