@use "../abstracts/variables" as *;

.story {
    background-color: rgba($color-white, .3);
    padding: 3rem 4rem;

    &__img-box {
        width: 12rem;
        height: 12rem;
        border-radius: 100%;
        background-image: url(../images/nat-8.jpg);
        background-size: cover;
        background-position: center;
        float: left;
    }


}