.u-margin-vt-sml { margin: 1.5rem 0; }
.u-margin-vt-md { margin: 2.5rem 0; }
.u-margin-vt-lg { margin: 4.5rem 0; }
.u-margin-vt-xl { margin: 7.5rem 0; }

.u-padding-vt-sml { padding: 1.5rem 0; }
.u-padding-vt-md { padding: 2.5rem 0; }
.u-padding-vt-lg { padding: 4.5rem 0; }
.u-padding-vt-xl { padding: 7.5rem 0; }

.u-text-center {
    text-align: center;
}