.u-margin-vt-sml { margin: 1.5rem 0 !important; }
.u-margin-vt-md { margin: 2.5rem 0 !important; }
.u-margin-vt-lg { margin: 4.5rem 0 !important; }
.u-margin-vt-xl { margin: 7.5rem 0 !important; }

.u-margin-top-sml { margin-top: 1.5rem !important; }
.u-margin-top-md { margin-top: 2.5rem !important; }
.u-margin-top-lg { margin-top: 4.5rem !important; }
.u-margin-top-xl { margin-top: 7.5rem !important; }

.u-margin-bottom-sml { margin-bottom: 1.5rem !important; }
.u-margin-bottom-md { margin-bottom: 2.5rem !important; }
.u-margin-bottom-lg { margin-bottom: 4.5rem !important; }
.u-margin-bottom-xl { margin-bottom: 7.5rem !important; }

.u-padding-vt-sml { padding: 1.5rem 0 !important; }
.u-padding-vt-md { padding: 2.5rem 0 !important; }
.u-padding-vt-lg { padding: 4.5rem 0 !important; }
.u-padding-vt-xl { padding: 7.5rem 0 !important; }

.u-padding-top-sml { padding-top: 1.5rem !important; }
.u-padding-top-md { padding-top: 2.5rem !important; }
.u-padding-top-lg { padding-top: 4.5rem !important; }
.u-padding-top-xl { padding-top: 7.5rem !important; }

.u-padding-bottom-sml { padding-bottom: 1.5rem !important; }
.u-padding-bottom-md { padding-bottom: 2.5rem !important; }
.u-padding-bottom-lg { padding-bottom: 4.5rem !important; }
.u-padding-bottom-xl { padding-bottom: 7.5rem !important; }

.u-text-center {
    text-align: center !important;
}